# Git
.git
.gitignore
.gitmodules
**/*.orig

# Docker
docker-compose.yml
docker-compose.yml.in
.docker
Dockerfile

# Python
**/*.pyc
**/__pycache__

# Files not used within docker
./tests
Makefile
.venv
lib-makefiles/*
buildspec.yml
minio.env
.env.*
.volumes
.*
service_launcher.py
logs